.carousel-caption {
  /* Ajuste el color de fondo y la opacidad a su preferencia */
  color: white;
  padding: 20px;
  /* Centre el texto del título vertical y horizontalmente dentro de la diapositiva */
  text-align: center;
  position: absolute; /* Haga que el título sea absoluto para el posicionamiento */
  top: -20%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  .carousel-caption {
    /* Ajuste el color de fondo y la opacidad a su preferencia */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    /* Centre el texto del título vertical y horizontalmente dentro de la diapositiva */
    text-align: center;
    position: absolute; /* Haga que el título sea absoluto para el posicionamiento */
    top: 40%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    /* transform: translate(-50%, -50%); */
    /* Ocultar inicialmente los títulos */
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out; /* Agregue una transición suave */
  }
}

.card{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.10);
  border-color: transparent;
}

@media (min-width: 992px) {
  .carousel-caption {
    top: 20%; /* Ajuste para pantallas grandes */
  }
}