.image-product {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin-right: 30px;
    object-fit: cover;
    /* border: 1px #000; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.box{
    margin-right: 25px;
    min-width: none;
    border-color: transparent;
}
.image-empren {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
    
}

/* Ofertas */
.card-text-descuento{
    font-size: 20px;
}
.card-text{
    font-size: 20px;
    color: #898787;
}
.descuento {
    position: absolute;
    top: 0; 
    left: 0; 
    padding: 0.3rem;
    background-color: #E51A1A;
    color: aliceblue;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 80px;
}

.card{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.10);
    border-color: transparent;
}